/* SimpleSlider.module.css */
.sliderContainer {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    color: #333;
    height: 400px;
    font-size: 2em;
}

.slickDotsTop {
    bottom: auto !important; /* 기본 위치를 무시하고 변경 */
    top: -25px !important; /* 상단에서의 위치 조정, 필요에 따라 값 조정 */
    position: absolute;
    width: 100%;
}